

 html,body {
    min-height: 100vh;
    margin: 0;

}


.navbar {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to right, #FF6F61, #6A5ACD);
}


.navbar-nav .nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: yellow !important;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.img-container {
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.flashes {
    margin: 20px 0;
}

.alert {
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    transition: opacity 0.5s ease;
}

.alert-success {
    background-color: #28a745;
    color: white;
}

.alert-danger {
    background-color: #dc3545;
    color: white;
}
.alert-success {
    background-color: #28a745;
}

.flashes ul {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 5px 0;
}


 .carousel-item img {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
}

.separatore {
    height: 20px;
    background-color: transparent;
}
.divisore {
    height: 2px;
    background-color: black;
    margin: 10px 0;
}

.flatpickr-disabled {
    position: relative;
}

.flatpickr-disabled::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px; /* Spessore della linea */
    background-color: red; /* Colore della linea */
    transform: translateY(-50%); /* Centra la linea verticalmente */
    z-index: 10; /* Assicura che la linea sia sopra il testo della data */
}

