<!DOCTYPE html>
{# Layout di base utilizzato da altre pagine tramite l utilizzo del template engine di Flask ,Jinja,che posso predisporre e rendere disponibile #}
{# ed usare come cornice per ogni pagina in cui voglio includerlo senza doverlo riscrivere tramite una sintassi specifica dell'engine #}
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# CDN di bootstrap #}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    {# connessione alla directory dove sono salvati i file static #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>{% block title %}Hotel Pegaso{% endblock %}</title>
    
</head>
<body class="bg-light">


{# Sezione relativa alla Navbar #}

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('home') }}">Hotel Pegaso</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav d-flex justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('prenota') }}">Prenota</a>
                        </li>
                    {# uso jinja per poter creare una logica dove se l'utente è autenticato ed amin allora mostrami quanto c'è nel corpo del ciclo #}
                        {% if current_user.is_authenticated and current_user.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('gestione') }}">Gestione</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('check_prenotazione') }}">Verifica Prenotazione</a>
                        </li>
                        <li class="nav-item">
                            {% if current_user.is_authenticated %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                            {% else %}
                            <a class="nav-link" href="{{ url_for('login') }}">Login Admin</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {# qui creo un container per la visualizzazione dei messaggi flash usando jinja creando una lista che contiene la sintassi #}
    {#che mi consenete di raccogliere i messaggi flash a prescindere da quali categorie appartengono , creo un ciclo if, se ci sono messaggi entri nel corpo #}
    {# creo il div che deve contenere il messaggio itero la categoria ed il messaggio specifico e lo richiamo con la variabile message   #}
    <main class="flex-grow-1">
         {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="container mt-3">
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}

                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3">
            © 2024 Hotel <a class="navbar-brand" href="{{ url_for('home') }}">Pegaso</a>
        </div>
    </footer>
   

    
    {# CDN per l'import delle dipendenze JS di Bootstrap #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

</body>
</html>

