{% extends 'base.html' %} 
{% block title %}Prenotazione Camera{% endblock %} 
{% block content %}
{#pagina contenente il form con action dove tramite sintassi jinjda passo l'id specifico della camera e la rotta dove invierò #}
{#con method post i dati compilati negli input del form e che poi verrano tramite la funzione definita nella rotta inviati al db#}
{#alla suddetta rotta invierò anche il token per preservare l'integrità della sessione utente e l'invio dei dati#}
<div class="container mt-5">
  <h1 class="text-center">{{ camera.nome }}</h1>
  <div class="text-center mb-4">
    <img src="{{ url_for('static', filename=camera.immagine) }}" class="img-fluid" style="max-height: 300px; object-fit: cover"/>
  </div>
  <p class="text-center">{{ camera.descrizione }}</p>
  <h2 class="text-center">Prezzo per notte: €{{ camera.prezzo }}</h2>

  <form id="prenotazioneForm" method="POST" action="{{ url_for('invia_prenotazione', camera_id=camera_id) }}">
    <input type="hidden" name="token" value="{{ token }}" />
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome" required class="form-control" pattern="[a-zA-Z]+" />
        <div class="invalid-feedback" id="nomeError" style="display: none;">Digitare solo lettere</div>
      </div>

      <div class="form-group col-md-6">
        <label for="cognome">Cognome</label>
        <input type="text" id="cognome" name="cognome" placeholder="Cognome" required class="form-control" pattern="[a-zA-Z]+" />
        <div class="invalid-feedback" id="cognomeError" style="display: none;">Digitare solo lettere</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="checkin">Data di Check-in</label>
        <input type="date" id="checkin" name="checkin" required class="form-control" />
      </div>

      <div class="form-group col-md-6">
        <label for="checkout">Data di Check-out</label>
        <input type="date" id="checkout" name="checkout" required class="form-control" />
      </div>
    </div>

    <div id="error-message" style="color: red; display: none;"></div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="data_nascita">Data di Nascita</label>
        <input type="date" id="data_nascita" name="data_nascita" required class="form-control" onchange="checkEta()" />
        <div class="invalid-feedback" id="etaError">Devi avere almeno 18 anni per effettuare una prenotazione.</div>
      </div>

      <div class="form-group col-md-6">
        <label for="numero_persone">Numero di Persone</label>
        <input type="number" id="numero_persone" name="numero_persone" placeholder="Numero di persone" required class="form-control" min="1" max="3" onchange="checkNumeroPersone()">
        <div class="invalid-feedback" id="personeError">Possono esserci da 1 a {{ camera.max_persone }} persone in questa camera.</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required class="form-control" />
        <div class="invalid-feedback" id="emailError" style="display: none;">Email non valida</div>
      </div>
    </div>

    <h3 class="text-center my-3" id="prezzo_totale" style="display: none">
      Prezzo Totale: €<span id="totale"></span>
    </h3>

    <div class="row">
      <button type="submit" class="btn btn-primary my-3 col-3">
        Conferma Prenotazione
      </button>
     <div class="alert alert-danger col-6 mx-4" id="disponibilitaError" style="display: none">
        Camera non disponibile nelle date selezionate, seleziona altre date.
      </div>
    </div>
  </form>
</div>

<script>

// salvo in delle variabili il prezzo e id delle camere in quanto mi servrirà averle dichiarate nelle logiche che implementerò per i controlli
  const cameraPrezzo = {{ camera.prezzo }};
  const cameraId = {{ camera.id }};

// controllo sulle date garantendo che il check in parta dalla data odierna
// il check out da un giorno dopo il check in cosi da evitare conflitti
// e svuotando i campi mostrando messaggio di errore se l'utenete seleziona una data gia salvata nel db e raccolta tramite richiesta API dal backend
// dalla variabile unavailableDates che mi ritorna quindi tutte le date già prenotate presenti nel db e mi consente di usarla
//per far funzionare i controlli.
  document.addEventListener('DOMContentLoaded', async function() {
      const today = new Date().toISOString().split('T')[0];
      document.getElementById('checkin').setAttribute('min', today); 

      // Gestione degli eventi per il check-in e il check-out
      document.getElementById('checkin').addEventListener('change', handleCheckinChange);
      document.getElementById('checkout').addEventListener('change', validateDateRange);
  });

  async function handleCheckinChange() {
      const checkinDate = document.getElementById('checkin').value;
      const checkoutDate = new Date(checkinDate);
      checkoutDate.setDate(checkoutDate.getDate() + 1);
      document.getElementById('checkout').value = checkoutDate.toISOString().split('T')[0];


      const checkoutInput = document.getElementById('checkout');
      checkoutInput.setAttribute('min', checkoutDate.toISOString().split('T')[0]);
      await validateDateRange();
  }

  async function validateDateRange() {
      const checkinDate = document.getElementById('checkin').value;
      const checkoutDate = document.getElementById('checkout').value;
      const errorMessage = document.getElementById('error-message');
      errorMessage.style.display = "none";
      errorMessage.innerText = "";

      if (checkinDate && checkoutDate) {
          const unavailableDates = await getUnavailableDates(cameraId, checkinDate, checkoutDate);
          if (unavailableDates.length > 0) {
              errorMessage.innerText = "Camera prenotata in questa data, seleziona un altro giorno.";
              errorMessage.style.display = "block";
              document.getElementById('checkin').value = '';
              document.getElementById('checkout').value = '';
              return false;
          }
          return true;
      }
      return false;
  }

  async function getUnavailableDates(cameraId, checkin, checkout) {
      const response = await fetch(`/api/disponibilita_camera/${cameraId}?checkin=${checkin}&checkout=${checkout}`);
      if (response.ok) {
          return await response.json();
      } else {
          throw new Error("Errore nel recuperare le date non disponibili");
      }
  }

  document.getElementById('prenotazioneForm').addEventListener('submit', async function(event) {
      const checkinDate = document.getElementById('checkin').value;
      const checkoutDate = document.getElementById('checkout').value;

      if (!await validateDateRange() || !checkinDate || !checkoutDate) {
          event.preventDefault();
      }
  });



// CONTROLLO SUI CAMPI NOME,COGNOME ED EMAIL CON REGEX E DISPLAY O MENO DEL MESSAGGIO DI ERRORE SE IL VALORE DELL'INPUT NON MATCHA IL PATTERN DELLA REGEX
     function validateName(input) {
      const pattern = /^[A-Za-z]+$/;
      const errorElement = document.getElementById('nomeError');
      if (!pattern.test(input.value)) {
          errorElement.style.display = 'block';
      } else {
          errorElement.style.display = 'none';
      }
  }

  function validateSurname(input) {
      const pattern = /^[A-Za-z]+$/;
      const errorElement = document.getElementById('cognomeError');
      if (!pattern.test(input.value)) {
          errorElement.style.display = 'block';
      } else {
          errorElement.style.display = 'none';
      }
  }
  
  function validateEmail(input) {
      const pattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
      const errorElement = document.getElementById('emailError');
      if (!pattern.test(input.value)) {
          errorElement.style.display = 'block';
      } else {
          errorElement.style.display = 'none';
      }
  }

  //catturo i campi di input con i relativi id aggiungo un ascoltatore di eventi passo come parametri evento e funzione da far scattare con all'interno
  //come corpo la chiamate di funzione di validazione di ogni specifico campo
  document.getElementById('nome').addEventListener('input', function() {
      validateName(this);
  });
  
  document.getElementById('cognome').addEventListener('input', function() {
      validateSurname(this);
  });
  
  document.getElementById('email').addEventListener('input', function() {
      validateEmail(this);
  });
  
  // qua catturo l'evento di submit del form con id prenotazioneForm e mi assicuro i dati siano validi
  document.getElementById('prenotazioneForm').onsubmit = function() {
      const nomeValid = /^[A-Za-z]+$/.test(document.getElementById('nome').value);
      const cognomeValid = /^[A-Za-z]+$/.test(document.getElementById('cognome').value);
      const emailValid = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(document.getElementById('email').value);
      
      return nomeValid && cognomeValid && emailValid;
  };




// funzione che mi calcola il prezzo finale in base alle date selezionate
function calcolaPrezzo() {
     const checkin = new Date(document.getElementById('checkin').value);
     const checkout = new Date(document.getElementById('checkout').value);
       if (!isNaN(checkin) && !isNaN(checkout) && checkin < checkout) {
          const giorni = (checkout - checkin) / (1000 * 60 * 60 * 24);
          const totale = giorni * cameraPrezzo;

          document.getElementById('totale').textContent = totale.toFixed(2);
          document.getElementById('prezzo_totale').style.display = 'block';
         }
        else {
      document.getElementById('prezzo_totale').style.display = 'none';
      }
    }


    //ricatturo il campo input gli aggiungo un ascoltatore di eventi a cui passo l'evento change che voglio fare scattare e una funziona anonima
      document.getElementById('checkin').addEventListener('change', function() {
        //nel corpo della funzione creo un'altra istanza della classe date e gli dico di questo oggetto di questa istanza che ha scatenato l'evento
        //ritornami il valore utilizzato nel campo input
          const checkinDate = new Date(this.value);
          // creo un altro oggetto di classe Date e come argomento gli passo proprio il valore utilizzato nel campo input checkin quindi la variabile in cui
          // l'ho "racchiuso" prima
          const checkoutMinDate = new Date(checkinDate);
          // a questo punto setto il valore del checkout al valore della data selezionata nel campo input + 1
          checkoutMinDate.setDate(checkoutMinDate.getDate() + 1);
          document.getElementById('checkout').setAttribute('min', checkoutMinDate.toISOString().split('T')[0]);
          // e richiamo infine la funzione calcola prezzo cosi che faccia vedere al cliente subito il prezzo totale in base alle date selezionate
          calcolaPrezzo()

      });

  // richiamo la funzione sul campo di check out
   document.getElementById('checkout').addEventListener('change', calcolaPrezzo);

// creo un'istanza della classe Date che mi ottimizza la manipolazione di date ed orari mi restituisce data e orario locali
//col metodo .slice ritornami soltanto gli elementi da posizione 0 fino a quello in posizione 10 della stringa inclusi i due estremi
// ottengo cosi la dieta odierna nel formato YYYY-MM-DD
  const dataOdierna = new Date().toISOString().slice(0, 10);

  // CONTROLLO SULLA DATA DI NASCITA INSERITA
      function checkEta() {
          const dataNascita = new Date(document.getElementById('data_nascita').value);
          const eta = (new Date() - dataNascita) / (1000 * 60 * 60 * 24 * 365);
          const etaError = document.getElementById('etaError');

          if (eta < 18) {
              document.getElementById('data_nascita').classList.add('is-invalid');
              etaError.style.display = 'block';
          } else {
              document.getElementById('data_nascita').classList.remove('is-invalid');
              etaError.style.display = 'none';
          }
      }
      document.getElementById('data_nascita').addEventListener('change', checkEta);




      // controllo sul numero di persone inserito

      function checkNumeroPersone() {
        const numeroPersone = parseInt(document.getElementById('numero_persone').value);
        const personeError = document.getElementById('personeError');

        if ((cameraId === 1 || cameraId === 4) && (numeroPersone < 1 || numeroPersone > 3) ||
            (cameraId === 2 || cameraId === 5) && (numeroPersone < 1 || numeroPersone > 2) ||
            (cameraId === 3 || cameraId === 6) && (numeroPersone !== 1)) {
            document.getElementById('numero_persone').classList.add('is-invalid');
            personeError.style.display = 'block';
        } else {
            document.getElementById('numero_persone').classList.remove('is-invalid');
            personeError.style.display = 'none';
        }
    }
      document.getElementById('numero_persone').addEventListener('change', checkNumeroPersone);
</script>
{% endblock %}
