{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="container mt-5">

    <!-- Prima sezione: descrizione e immagine -->
    <div class="row mb-4">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/hotel_image.jpg') }}" class="img-fluid" alt="Hotel Labellavita">
        </div>
        <div class="col-md-6">
            <h2>Scopri il Nostro Hotel</h2>
            <p>Benvenuti nel nostro hotel, dove il comfort e l'eleganza si incontrano. Offriamo una vasta gamma di camere, ognuna progettata per garantire il massimo del relax e della comodità. Che siate qui per affari o per piacere, noi ci prendiamo cura di ogni vostro bisogno.</p>
        </div>
    </div>

    <!-- Carosello automatico di immagini -->
    <h2 class="my-5 text-center">
        <a href="{{ url_for('prenota') }}" class="text-decoration-none">Scopri subito tutte le nostre camere! Clicca qui!</a>
    </h2>
    <div id="roomCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/tripla_economica.jpg') }}" class="d-block" alt="Camera Tripla Economica">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/tripla_deluxe.jpg') }}" class="d-block" alt="Camera Tripla Deluxe">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/singola_economica.jpg') }}" class="d-block" alt="Camera Singola Economica">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/singola_deluxe.jpg') }}" class="d-block" alt="Camera Singola Deluxe">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/doppia_deluxe.jpg') }}" class="d-block" alt="Camera Doppia Deluxe">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='images/doppia_economica.jpg') }}" class="d-block" alt="Camera Doppia Economica">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#roomCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Precedente</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#roomCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Successivo</span>
        </button>
    </div>

    <!-- Seconda sezione: descrizione e immagine -->
    <div class="row my-5">
        <div class="col-md-6 my-5">
            <h2>Esplora le Nostre Stanze</h2>
            <p>Scopri tutte le opzioni di soggiorno che abbiamo da offrire. Ogni stanza è progettata per offrirti un'ottima esperienza, indipendentemente dalle tue esigenze. Prenota oggi stesso la tua fuga ideale!</p>
        </div>
        <div class="col-md-6 my-5">
            <img src="{{ url_for('static', filename='images/special_offer.jpg') }}" class="img-fluid" alt="Opzioni di soggiorno">
        </div>
    </div>
</div>
{% endblock %}