{% extends 'base.html' %}

{% block title %}Modifica Prenotazione{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Modifica Prenotazione</h1>
    <form id="prenotazioneForm" action="{{ url_for('modifica_prenotazione', codice_prenotazione=prenotazione.codice_prenotazione) }}" method="POST">
        <input type="hidden" name="token" value="{{ token }}">
        
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome" value="{{ prenotazione.nome }}" required class="form-control" pattern="[a-zA-Z]+" />
            <div class="invalid-feedback" id="nomeError" style="display: none;">Digitare solo lettere</div>
        </div>

        <div class="form-group">
            <label for="cognome">Cognome</label>
            <input type="text" id="cognome" name="cognome" placeholder="Cognome" value="{{ prenotazione.cognome }}" required class="form-control" pattern="[a-zA-Z]+" />
            <div class="invalid-feedback" id="cognomeError" style="display: none;">Digitare solo lettere</div>
        </div>
       
        <div class="form-group">
            <label for="checkin">Data di Check-in</label>
            <input type="date" id="checkin" name="checkin" value="{{ prenotazione.checkin }}" required class="form-control" onchange="calcolaPrezzo()">
        </div>

        <div class="form-group">
            <label for="checkout">Data di Check-out</label>
            <input type="date" id="checkout" name="checkout" value="{{ prenotazione.checkout }}" required class="form-control" onchange="calcolaPrezzo()">
        </div>

        <div class="form-group">
            <label for="data_nascita">Data di Nascita</label>
            <input type="date" id="data_nascita" name="data_nascita" value="{{ prenotazione.data_nascita }}" required class="form-control" onchange="checkEta()">
            <div class="invalid-feedback" id="etaError">Devi avere almeno 18 anni per effettuare una prenotazione.</div>
        </div>

        <div class="form-group">
            <label for="numero_persone">Numero di Persone</label>
            <input type="number" id="numero_persone" name="numero_persone" placeholder="Numero di persone" value="{{ prenotazione.numero_persone }}" required class="form-control" min="1" max="3" onchange="checkNumeroPersone()">
            <div class="invalid-feedback" id="personeError">Possono esserci da 1 a {{ camera.max_persone }} persone in questa camera.</div>
        </div>


        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" value="{{ prenotazione.email }}" required class="form-control" />
            <div class="invalid-feedback" id="emailError" style="display: none;">Email non valida</div>
        </div>
        <div class="form-group">

        <h3 class="text-center my-3" id="prezzo_totale" style="display: none;">Prezzo Totale: €<span id="totale"></span></h3>
        <button type="submit" class="btn btn-primary my-3">Conferma Modifica</button>
    </form>
</div>
    <script>
        // STESSE LOGICHE E CONTROLLI PRESENTI NEL TEMPLATE CAMERA_SPECIFICA 

    function validateName(input) {
        const pattern = /^[A-Za-z]+$/;
        const errorElement = document.getElementById('nomeError');
        if (!pattern.test(input.value)) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
    
    function validateSurname(input) {
        const pattern = /^[A-Za-z]+$/;
        const errorElement = document.getElementById('cognomeError');
        if (!pattern.test(input.value)) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
    
    function validateEmail(input) {
        const pattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const errorElement = document.getElementById('emailError');
        if (!pattern.test(input.value)) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
    

    document.getElementById('nome').addEventListener('input', function() {
        validateName(this);
    });
    
    document.getElementById('cognome').addEventListener('input', function() {
        validateSurname(this);
    });
    
    document.getElementById('email').addEventListener('input', function() {
        validateEmail(this);
    });
    
    document.getElementById('prenotazioneForm').onsubmit = function() {
        const nomeValid = /^[A-Za-z]+$/.test(document.getElementById('nome').value);
        const cognomeValid = /^[A-Za-z]+$/.test(document.getElementById('cognome').value);
        const emailValid = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(document.getElementById('email').value);
        
        return nomeValid && cognomeValid && emailValid;
    };
    const cameraPrezzo = {{ camera.prezzo }};
    const cameraId = {{ camera.id }};
    
    function checkEta() {
        const dataNascita = new Date(document.getElementById('data_nascita').value);
        const eta = (new Date() - dataNascita) / (1000 * 60 * 60 * 24 * 365);
        const etaError = document.getElementById('etaError');

        if (eta < 18) {
            document.getElementById('data_nascita').classList.add('is-invalid');
            etaError.style.display = 'block';
        } else {
            document.getElementById('data_nascita').classList.remove('is-invalid');
            etaError.style.display = 'none';
        }
    }
    function calcolaPrezzo() {
        const checkin = new Date(document.getElementById('checkin').value);
        const checkout = new Date(document.getElementById('checkout').value);

        if (!isNaN(checkin) && !isNaN(checkout) && checkin < checkout) {
            const giorni = (checkout - checkin) / (1000 * 60 * 60 * 24);
            const totale = giorni * cameraPrezzo;

            document.getElementById('totale').textContent = totale.toFixed(2);
            document.getElementById('prezzo_totale').style.display = 'block';
        } else {
            document.getElementById('prezzo_totale').style.display = 'none';
        }
    }


    document.getElementById('numero_persone').setAttribute('max', (cameraId === 1 || cameraId === 4) ? 3 : (cameraId === 2 || cameraId === 5) ? 2 : 1);

    function checkNumeroPersone() {
        const numeroPersone = parseInt(document.getElementById('numero_persone').value);
        const personeError = document.getElementById('personeError');

        if ((cameraId === 1 || cameraId === 4) && (numeroPersone < 1 || numeroPersone > 3) ||
            (cameraId === 2 || cameraId === 5) && (numeroPersone < 1 || numeroPersone > 2) ||
            (cameraId === 3 || cameraId === 6) && (numeroPersone !== 1)) {
            document.getElementById('numero_persone').classList.add('is-invalid');
            personeError.style.display = 'block';
        } else {
            document.getElementById('numero_persone').classList.remove('is-invalid');
            personeError.style.display = 'none';
        }
    }


    document.addEventListener('DOMContentLoaded', function() {
        const prezzoPerNotte = {{ camera.prezzo }};
        const oggi = new Date();
        const dataOdierna = oggi.toISOString().split('T')[0];
        document.getElementById('checkin').setAttribute('min', dataOdierna);

    function disableUnavailableDates(unavailableDates) {
        const checkinDateInputs = Array.from(document.querySelectorAll('[type="date"]'));
        checkinDateInputs.forEach(input => {
            input.value = '';
            input.setAttribute('min', dataOdierna);
            input.disabled = false;
        });

        if (unavailableDates.length) {
            unavailableDates.forEach(dateRange => {

                let start = new Date(dateRange.checkin);
                let end = new Date(dateRange.checkout);

                while (start < end) {
                    const formatted = start.toISOString().split('T')[0];
                    const inputField = document.querySelector(`input[type="date"][value="${formatted}"]`);
                    if (inputField) {
                        inputField.setAttribute('disabled', 'true');
                    }
                    start.setDate(start.getDate() + 1);
                }
            });
        }
    }

    document.getElementById('checkin').addEventListener('change', function() {
        const checkinDate = new Date(this.value);
        const checkoutMinDate = new Date(checkinDate);
        checkoutMinDate.setDate(checkoutMinDate.getDate() + 1);
        const checkoutMinDateStr = checkoutMinDate.toISOString().split('T')[0];
        document.getElementById('checkout').setAttribute('min', checkoutMinDateStr);
        calcolaPrezzoTotale();
    });

    document.getElementById('checkout').addEventListener('change', calcolaPrezzoTotale);

    const form = document.getElementById('prenotazioneForm');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const checkin = document.getElementById('checkin').value;
        const checkout = document.getElementById('checkout').value;


        fetch(`/api/disponibilita_camera/{{ camera.id }}?checkin=${checkin}&checkout=${checkout}`)
            .then(response => response.json())
            .then(data => {

                const unavailableDates = data;

                if (data.length > 0) {
                    document.getElementById('disponibilitaError').style.display = 'block';
                    disableUnavailableDates(data);
                    return;
                } else {
                    document.getElementById('disponibilitaError').style.display = 'none';
                    form.submit();
                }
            })
            .catch(error => {
                console.error('Si è verificato un errore:', error);
                document.getElementById('disponibilitaError').innerText = 'Si è verificato un errore nel recuperare le date.';
                document.getElementById('disponibilitaError').style.display = 'block';
            });
        });
    });
</script>

{% endblock %}
