{% extends 'base.html' %}

{#nei campi value recupero le info compilate e salvate nel db relative a quella prenotazione#}
{% block title %}Modifica Prenotazione{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Modifica Prenotazione</h1>
    {#la actioon qui ovviamente mira alla rotta di modifica assieme allo specifco codice prenotazione di quella prenotazione#}
    <form id="prenotazioneForm" action="{{ url_for('modifica_prenotazione', codice_prenotazione=prenotazione.codice_prenotazione) }}" method="POST">
        <input type="hidden" name="token" value="{{ token }}">

        {#nei campi value recupero le info compilate e salvate nel db relative a quella prenotazione#}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Nome" value="{{ prenotazione.nome }}" required class="form-control" pattern="[a-zA-Z]+" />
                <div class="invalid-feedback" id="nomeError" style="display: none;">Digitare solo lettere</div>
            </div>

            <div class="form-group col-md-6">
                <label for="cognome">Cognome</label>
                <input type="text" id="cognome" name="cognome" placeholder="Cognome" value="{{ prenotazione.cognome }}" required class="form-control" pattern="[a-zA-Z]+" />
                <div class="invalid-feedback" id="cognomeError" style="display: none;">Digitare solo lettere</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="checkin">Data di Check-in</label>
                <input type="date" id="checkin" name="checkin" value="{{ prenotazione.checkin }}" required class="form-control" onchange="calcolaPrezzo()">
            </div>

            <div class="form-group col-md-6">
                <label for="checkout">Data di Check-out</label>
                <input type="date" id="checkout" name="checkout" value="{{ prenotazione.checkout }}" required class="form-control" onchange="calcolaPrezzo()">
            </div>
        </div>

        <div id="error-message" style="color: red; display: none;"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="data_nascita">Data di Nascita</label>
                <input type="date" id="data_nascita" name="data_nascita" value="{{ prenotazione.data_nascita }}" required class="form-control" onchange="checkEta()">
                <div class="invalid-feedback" id="etaError">Devi avere almeno 18 anni per effettuare una prenotazione.</div>
            </div>

            <div class="form-group col-md-6">
                <label for="numero_persone">Numero di Persone</label>
                <input type="number" id="numero_persone" name="numero_persone" placeholder="Numero di persone" value="{{ prenotazione.numero_persone }}" required class="form-control" min="1" max="3" onchange="checkNumeroPersone()">
                <div class="invalid-feedback" id="personeError">Possono esserci da 1 a {{ camera.max_persone }} persone in questa camera.</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" value="{{ prenotazione.email }}" required class="form-control" />
                <div class="invalid-feedback" id="emailError" style="display: none;">Email non valida</div>
            </div>
        </div>

        <h3 class="text-center my-3" id="prezzo_totale" style="display: none;">Prezzo Totale: €<span id="totale"></span></h3>
        <button type="submit" class="btn btn-primary my-3">Conferma Modifica</button>
    </form>
</div>
 <script>
        // STESSE LOGICHE E CONTROLLI PRESENTI NEL TEMPLATE CAMERA_SPECIFICA 
  const cameraPrezzo = {{ camera.prezzo }};
  const cameraId = {{ camera.id }};

  document.addEventListener('DOMContentLoaded', async function() {
      const today = new Date().toISOString().split('T')[0];
      document.getElementById('checkin').setAttribute('min', today);

      // Gestione degli eventi per il check-in e il check-out
      document.getElementById('checkin').addEventListener('change', handleCheckinChange);
      document.getElementById('checkout').addEventListener('change', validateDateRange);
  });

  async function handleCheckinChange() {
      const checkinDate = document.getElementById('checkin').value;
      const checkoutDate = new Date(checkinDate);
      checkoutDate.setDate(checkoutDate.getDate() + 1);
      document.getElementById('checkout').value = checkoutDate.toISOString().split('T')[0];


      const checkoutInput = document.getElementById('checkout');
      checkoutInput.setAttribute('min', checkoutDate.toISOString().split('T')[0]);
      await validateDateRange();
  }

  async function validateDateRange() {
      const checkinDate = document.getElementById('checkin').value;
      const checkoutDate = document.getElementById('checkout').value;
      const errorMessage = document.getElementById('error-message');
      errorMessage.style.display = "none";
      errorMessage.innerText = "";

      if (checkinDate && checkoutDate) {
          const unavailableDates = await getUnavailableDates(cameraId, checkinDate, checkoutDate);
          if (unavailableDates.length > 0) {
              errorMessage.innerText = "Camera prenotata in questa data, seleziona un altro giorno.";
              errorMessage.style.display = "block";
              document.getElementById('checkin').value = '';
              document.getElementById('checkout').value = '';
              return false;
          }
          return true;
      }
      return false;
  }

  async function getUnavailableDates(cameraId, checkin, checkout) {
      const response = await fetch(`/api/disponibilita_camera/${cameraId}?checkin=${checkin}&checkout=${checkout}`);
      if (response.ok) {
          return await response.json();
      } else {
          throw new Error("Errore nel recuperare le date non disponibili");
      }
  }

  document.getElementById('prenotazioneForm').addEventListener('submit', async function(event) {
      const checkinDate = document.getElementById('checkin').value;
      const checkoutDate = document.getElementById('checkout').value;

      if (!await validateDateRange() || !checkinDate || !checkoutDate) {
          event.preventDefault();
      }
  });

    function validateName(input) {
        const pattern = /^[A-Za-z]+$/;
        const errorElement = document.getElementById('nomeError');
        if (!pattern.test(input.value)) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
    
    function validateSurname(input) {
        const pattern = /^[A-Za-z]+$/;
        const errorElement = document.getElementById('cognomeError');
        if (!pattern.test(input.value)) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
    
    function validateEmail(input) {
        const pattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const errorElement = document.getElementById('emailError');
        if (!pattern.test(input.value)) {
            errorElement.style.display = 'block';
        } else {
            errorElement.style.display = 'none';
        }
    }
    

    document.getElementById('nome').addEventListener('input', function() {
        validateName(this);
    });
    
    document.getElementById('cognome').addEventListener('input', function() {
        validateSurname(this);
    });
    
    document.getElementById('email').addEventListener('input', function() {
        validateEmail(this);
    });
    
    document.getElementById('prenotazioneForm').onsubmit = function() {
        const nomeValid = /^[A-Za-z]+$/.test(document.getElementById('nome').value);
        const cognomeValid = /^[A-Za-z]+$/.test(document.getElementById('cognome').value);
        const emailValid = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(document.getElementById('email').value);
        
        return nomeValid && cognomeValid && emailValid;
    };
    
    function checkEta() {
        const dataNascita = new Date(document.getElementById('data_nascita').value);
        const eta = (new Date() - dataNascita) / (1000 * 60 * 60 * 24 * 365);
        const etaError = document.getElementById('etaError');

        if (eta < 18) {
            document.getElementById('data_nascita').classList.add('is-invalid');
            etaError.style.display = 'block';
        } else {
            document.getElementById('data_nascita').classList.remove('is-invalid');
            etaError.style.display = 'none';
        }
    }
    function calcolaPrezzo() {
        const checkin = new Date(document.getElementById('checkin').value);
        const checkout = new Date(document.getElementById('checkout').value);

        if (!isNaN(checkin) && !isNaN(checkout) && checkin < checkout) {
            const giorni = (checkout - checkin) / (1000 * 60 * 60 * 24);
            const totale = giorni * cameraPrezzo;

            document.getElementById('totale').textContent = totale.toFixed(2);
            document.getElementById('prezzo_totale').style.display = 'block';
        } else {
            document.getElementById('prezzo_totale').style.display = 'none';
        }
    }


    document.getElementById('numero_persone').setAttribute('max', (cameraId === 1 || cameraId === 4) ? 3 : (cameraId === 2 || cameraId === 5) ? 2 : 1);

    function checkNumeroPersone() {
        const numeroPersone = parseInt(document.getElementById('numero_persone').value);
        const personeError = document.getElementById('personeError');

        if ((cameraId === 1 || cameraId === 4) && (numeroPersone < 1 || numeroPersone > 3) ||
            (cameraId === 2 || cameraId === 5) && (numeroPersone < 1 || numeroPersone > 2) ||
            (cameraId === 3 || cameraId === 6) && (numeroPersone !== 1)) {
            document.getElementById('numero_persone').classList.add('is-invalid');
            personeError.style.display = 'block';
        } else {
            document.getElementById('numero_persone').classList.remove('is-invalid');
            personeError.style.display = 'none';
        }
    }

</script>

{% endblock %}
