{% extends 'base.html' %}

{% block title %}Camere - Hotel App{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Tipologie di Camere</h2>
    <div class="row">
        {% for camera in camere %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=camera.immagine) }}" class="card-img-top" alt="{{ camera.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ camera.nome }}</h5>
                    <p class="card-text">{{ camera.descrizione }}</p> <!-- Opzionale: descrizione della camera -->
                    <a href="{{ url_for('prenota_camera', camera_id=camera.id) }}" class="btn btn-primary">Prenota Ora</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
